<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>

<div id="navbar">
<ul>
<li><a href="{% url home %}">Home</a></li>
<li><a href="{% url vendors %}">Vendor list</a></li>
</ul>
</div>

<div id="contenttop">{% block contenthead %}{% endblock %}</div>

<div id="content">
{% if messages %}
<p>
<ul>
    {% for message in messages %}
    <li>{% if message.tags %} {{ message.tags }}: {% endif %}{{ message }}</li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% block content %}{% endblock %}
</div>
</body>
</html>
