<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
<p>
<a href="{% url home %}">Home</a>
<a href="{% url vendors %}">Vendor list</a>
</p>

{% if messages %}
<p>
<ul>
    {% for message in messages %}
    <li>{% if message.tags %} {{ message.tags }}: {% endif %}{{ message }}</li>
    {% endfor %}
</ul>
</p>
{% endif %}

{% block content %}{% endblock %}
</body>
</html>
