{% extends "base.html" %}

{% load get_form %}

{% block title %}Part {{ object.partnum }} from {{ object.oem.name }}{% endblock %}

{% block content %}

<div class="entry">
<p>
<a href="{% url edit_part object.oem.name object.partnum %}">Edit Part</a>
</p>

<table>
<tr><th>Source</th><td><a href="{{ object.oem.site }}">{{ object.oem.name }}</a></td></tr>
<tr><th>P/N</th><td>{{ object.partnum }}</td></tr>
<tr><th>Count</th><td>{{ object.count }}</td></tr>
<tr><th>Descirption</th><td><p>{{ object.desc|linebreaks }}</p></td></tr>
</table>

<table>
<tr><th>Seller</th><th>P/N</th><th></th></tr>
{% for sup in object.supply_set.all %}
  <tr><td>{{ sup.seller.name }}</td>
    <td><a href="{{ sup.url }}">{{ sup.partnum }}</a></td>
    <td><a href="{{ sup.get_del_url }}">Delete</a></td>
  </tr>
{% endfor %}
</table>

<table>
{% for info in object.info_set.all %}
<td>{{ info.desc|default:"related" }}</td>
<td> {% if info.url %} <a href="{{ info.url }}">link</a> {% endif %}</td>
<td> {% if info.file %} <a href="{{ info.file.url }}">file</a> {% endif %}</td>
<td> <a href="{% url del_info info.pk %}">Delete</a> </td>
{% endfor %}
</table>

</div>

<div class="entryform">
<h3>Add supplier</h3>
{% new_model_form 'SupplyForm' as formset %}
<form method="post" action="{% url edit_supply object.oem.name object.partnum %}">{% csrf_token %}
    {{ formset }}
    <input type="submit" value="Submit" />
</form>

{% new_model_form 'InfoForm' as infoform %}
<h3>Add information</h3>
<p>
<form method="post" enctype="multipart/form-data" action="{% url add_info object.oem.name object.partnum %}">{% csrf_token %}
    {{ infoform }}
    <input type="submit" value="Submit" />
</form>
</p>

<p>Delete <a href="{% url del_part object.oem.name object.partnum %}">{{ object }}</a></p>
</div>
{% endblock %}
