{% extends "base.html" %}

{% load get_form %}

{% block title %}Parts list{% endblock %}

{% block content %}
<p>
<ul>
{% for obj in object_list %}
  <li>
    <a href="{{ obj.get_absolute_url }}">{{ obj.partnum }}</a>
    {{ obj.oem.name }}
    {{ obj.desc|truncatewords:10 }}
    <a href="{% url edit_part obj.oem.name obj.partnum %}">Edit</a>
  </li>
{% endfor %}
</ul>
</p>

{% new_model_form 'PartForm' as formset %}
<h3>Create new part</h3>
<p>
<form method="post" action="{% url edit_part %}">{% csrf_token %}
    {{ formset.as_p }}
    <input type="submit" value="Create" />
</form>
</p>

{% endblock %}
