{% extends "base.html" %}

{% load get_form %}

{% block title %}Parts list{% endblock %}

{% block content %}

<div class="entry">
<table>
<tr>
 <th>Count</th>
 <th>Part</th>
 <th>Vendor</th>
 <th>Description</th>
</tr>
{% for obj in object_list %}
</tr>
  <td>{{ obj.count }}</td>
  <td><a href="{{ obj.get_absolute_url }}">{{ obj.partnum }}</a></td>
  <td>{{ obj.oem.name }}</td>
  <td>{{ obj.desc|truncatewords:10 }}</td>
</tr>
{% endfor %}
</table>
</div>

<div class="entryform">
{% new_model_form 'PartForm' as formset %}
<h3>Create new part</h3>
<p>
<form method="post" action="{% url edit_part %}">{% csrf_token %}
    {{ formset.as_p }}
    <input type="submit" value="Create" />
</form>
</div>

{% endblock %}
