{% extends "base.html" %}

{% load get_form %}

{% block title %}Part {{ object.partnum }} from {{ object.oem.name }}{% endblock %}

{% block content %}

<p>
<a href="{% url edit_part object.oem.name object.partnum %}">Edit Part</a>
</p>

<ul>
  <li>Source: <a href="{{ object.oem.site }}">{{ object.oem.name }}</a></li>
  <li>Part: {{ object.partnum }}</li>
  <li>On hand: {{ object.count }}</li>
  <li><p>{{ object.desc }}</p></li>
{% for sup in object.supply_set.all %}
  <li>From: {{ sup.seller.name }} as: <a href="{{ sup.url }}">{{ sup.partnum }}</a>
      <a href="{{ sup.get_del_url }}">Delete</a>
  </li>
{% endfor %}
</ul>

<h3>Add supplier</h3>
{% new_model_form 'SupplyForm' as formset %}
<p>
<form method="post" action="{% url edit_supply object.oem.name object.partnum %}">{% csrf_token %}
    {{ formset }}
    <input type="submit" value="Submit" />
</form>
</p>

</p>

<p>Delete <a href="{% url del_part object.oem.name object.partnum %}">{{ object }}</a></p>

{% endblock %}
