{% extends "base.html" %}

{% load get_form %}
{% load static from staticfiles %}

{% block title %}Parts list{% endblock %}

{% block extraheader %}
<link rel="stylesheet" href="{% static "themes/blue/style.css" %}" />
<script type="text/javascript" src="{% static "jquery.js" %}"></script> 
<script type="text/javascript" src="{% static "jquery.tablesorter.js" %}"></script> 
<script type="text/javascript">
 $(document).ready(function() { $("#partstable").tablesorter(); });
</script>
{% endblock %}

{% block content %}

<div class="entry">
<table id="partstable" class="tablesorter">
<thead><tr>
 <th>Count</th>
 <th>Part</th>
 <th>Vendor</th>
 <th>Description</th>
</tr></thead><tbody>
{% for obj in object_list %}
</tr>
  <td>{{ obj.count }} <a href="{% url "part_use" obj.oem.name obj.partnum %}?next={{ request.path }}">-</a></td>
  <td><a href="{{ obj.get_absolute_url }}">{{ obj.partnum }}</a></td>
  <td>{{ obj.oem.name }}</td>
  <td>{{ obj.desc|truncatewords:10 }}</td>
</tr>
{% endfor %}
</tbody></table>
</div>

<div class="entryform">
{% new_model_form 'PartForm' as form %}
<h3>Create new part</h3>
<p>
<form method="post" action="{% url "edit_part" %}">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
</div>

{% endblock %}
